.main{
    background-color: skyblue;
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.main_container { 
    width: 100%; 
    height: 100%; 
    max-width: 1200px; 
    background-color:rgb(133, 225, 225);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main_container > * { 
    border: 1px solid  white;
}

.flex-center { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}